include:
  - project: kount/third_party/tpa-ci-shared
    file:
      - core/rules.yml
      - version.yml
      - base/sq-scan.yml
    ref: 2.7.1

stages:
  - version
  - build # also tests
  - sonarqube scan

.version check:
  stage: version check
  rules:
    # on master, allow failure
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      allow_failure: true
    # on mr, allow failure
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_PIPELINE_SOURCE == "merge_request_event"'
      allow_failure: true
    - !reference [ .rule-on-tag ]
  script:
    - BUILD_VERSION=`echo $BUILD_VERSION | cut -c-20`
    - SDK_VERSION="Sdk-Ris-PHP-"${BUILD_VERSION}
    - |
      if ! grep -q SDK_VERSION=\"${SDK_VERSION}\" src/settings.ini
      then
        echo "'SDK_VERSION=\"${SDK_VERSION}\"' not found in src/settings.ini"
        exit 1
      fi

build:
  stage: build
  image: php:8.2-fpm-alpine
  rules:
    - !reference [ .rule-on-tag ]
    - !reference [ .rule-on-master ]
    - !reference [ .rule-on-mr ]
  script:
    - apk add ca-certificates zip unzip git curl libzip-dev libpng-dev libxml2-dev oniguruma-dev autoconf gcc libc-dev linux-headers make
    - docker-php-ext-install pdo pdo_mysql zip gd bcmath xml
    - pecl install xdebug && docker-php-ext-enable xdebug
    - update-ca-certificates
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - export PATH="/usr/local/bin:$PATH"
    - export LOCAL_PHP_XDEBUG=true
    - export XDEBUG_MODE=coverage
    - composer install
    - vendor/bin/phpunit --configuration phpunit.integration.xml --coverage-clover=phpunit-coverage-result.xml --log-junit=phpunit-execution-result.xml
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/phpunit-coverage-result.xml
      - ${CI_PROJECT_DIR}/phpunit-execution-result.xml

sonarqube scan:
  extends: .sq-scan
  stage: sonarqube scan
  variables:
    SRC_EXCLUSIONS: "**/.git/**,**/build/**,**/vendor/**,**/tests/**,**/docs/**,**/phpdocs/**,**/DS_Store/**,**/idea/**,**/*LICENSE,**/*.cache,**/*.lock,**/*.phar,**/*.gitignore,**/*.yml"
    PHP_TEST_COVERAGE_REPORT_PATHS: "${CI_PROJECT_DIR}/phpunit-coverage-result.xml"
    PHP_TEST_EXECUTION_REPORT_PATHS: "${CI_PROJECT_DIR}/phpunit-execution-result.xml"


