<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         cacheResult="false"
         cacheDirectory="build/cache"
         failOnWarning="false"
>

    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/Kount/Ris/integration/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src/Kount/</directory>
        </include>
    </source>

    <coverage
        includeUncoveredFiles="true"
        pathCoverage="false"
    >
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
        </report>
    </coverage>

</phpunit>